.navbar {
  background-color: #0d6efd;
  color: white;
  margin-bottom: 20px;
}

.btn-primary {
  margin: 20px 20px 0 20px;
}

.user-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; 
}

.table-cell {
  padding: 8px; 
}
